.resume {
  position: fixed;
  top: 0;
  border: 2px solid black;
  z-index: 1;
  transition: transform 300ms ease-in-out;
  background-color: #fffff0;
}

.visible {
  transform: translateY(78px);
}

.hidden {
  transform: translateY(-100%);
}

.resume-container > h2 {
  color: red;
}
